<% if @order.netsuite_sales_order_num.present? %>
  <tr>
    <td><strong><%= Spree.t(:netsuite_sales_order_num) %></strong></td>
    <td><%= @order.netsuite_sales_order_num %></td>
  </tr>
<% else %>
  <tr>
    <td><strong><%= Spree.t(:netsuite_sales_order_num) %></strong></td>
    <td><em><%= Spree.t(:not_available) %></em></td>
  </tr>
<% end %>
